.gradient-color-heading {
    background: linear-gradient(45deg, var(--mui-palette-primary-main), var(--mui-palette-secondary-main));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; /* Fallback */
}